/*Paramètres généraux*/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 1440px;
}

a {
  text-decoration: none;
  color: black;
}

a :focus {
  color: black;
}

h1 {
  font-size: 21px;
  font-weight: 800;
  margin-bottom: 0px;
}

h2 {
  font-size: 21px;
  font-weight: 800;
  margin: 35px 0px 20px 0px;
}

h3 {
  font-size :15px;
  font-weight: bold;
  margin: 11px 0px 5px 15px;
}

p {
  font-size: 15px;
}


/*header*/

header {
  display: flex;  
  justify-content:space-between;
  align-items: center;
  margin : 0px 50px 20px 50px;
}

.booki {
  height: 100%;
} 

.box__booki {
  display: inline;
  margin:  30px 0px 10px 0px;
  height: 45px;
  padding: 0px;
}

nav {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 30px 0px 10px 0px;
}

header a {
  margin: 0px;
  padding: 40px 30px 0px 30px;
  font-weight: 500;
}

header li:hover a{
  border-top: 4px #0065FC solid;
  color: #0065FC;
}


/*section 1 : recherche*/

#recherche {
  margin: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
}

.recherche {
  display: flex;
  text-align: center;
  align-items: center;
  border: 1px #F2F2F2 solid;
  border-radius: 17px 17px 17px 17px ;
  width: 390px;
  height: 50px;
}

.fa-location-dot {
  background-color: #F2F2F2;
  padding: 17px 20px 17px 17px;
  border-radius: 17px 0px 0px 17px ;
}

::placeholder{
  padding-left: 15px;
  font-size: 17px;
  font-weight: 800;
  color: black;
  opacity: 1;
}

.recherche__button {
  font-size: 16px;
  font-weight:600;
  border: none;
  border-radius: 0px 17px 17px 0px;
  padding: 0px 15px 0px 15px;
  background-color: #0065FC;
  color: white;
  height: 50px;
}

.recherche__button:hover {
  border: groove;
}

.recherche__button:focus {
  border: inset;
}

.recherche__button-loupe {
  display: none;
}

.recherche__input {
  width: 100%;
  border : none;
}

.filtre__icone {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: large;
  margin-left: -4px;
  width: 50px;
  height: 50px;
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 30px;
}

.filtre:hover .filtre__icone {
  transform: scale(1.1);
  transform: rotate(360deg);
  transition-duration: 450ms;
  background-color: #0065FC;
  color: #DEEBFF;
  font-size: 23px;
}

.filtres {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  text-transform: capitalize;
}

.filtres p {
  font-size: 17px;
  font-weight: 800;
}

.filtres > p {
  display: flex;
  padding-right: 10px;
  padding-top: 20px;
  margin: 0px;
}

.filtre {
  display: flex;
  align-items: center;
  border: 2px solid #F2F2F2;
  border-radius: 40px;
  margin-top: 25px;
}

.filtre p {
  margin: 0px;
  padding: 0px 20px 0px 12px;
  white-space: nowrap;
}

.information {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.information__icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  font-size: 13px;
  font-weight: 900;
  border-radius: 25px;
  border: 2px #F2F2F2 solid;
  height: 25px;
  width: 25px;  
  margin-right: 10px;
}    


/*Section 2 : Hébergements*/

#section-hebergements {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 25px 50px;
}

#section-hebergements p {
  font-size: 14px;
  margin: 0px 5px 0px 15px;
}

.hebergements__titre {
  display: flex;
  align-items: center;
  height: 15%;
  margin-left: 30px;
}

#hebergements {
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 66%;
  height: 626px;
}

.hebergements__cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.hebergements__card {
  background-color: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1) ;
  width: 28.5%;
  height: 45%;
  padding: 4px;
  border-radius: 20px;
}  

.hebergements__card:hover {
  transform: scale(1.02);
  transition-duration: 200ms;
}

.hebergements__card a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hebergements__card img {
  width: 100%;
  height: 118px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

#populaires {
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 31%;
}

.populaires__titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  margin-left: 30px;
}

#populaires__cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}

.populaires__card {
  display: flex;
  width: 84%;
  height: 144px;
}

.populaires__card:hover {
  transform: scale(1.02);
  transition-duration: 200ms;
}

.populaires__card a {
  display: flex;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 4px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1) ;
  border-radius: 20px;
}

.populaires__card img {
  height: 100%;
  width: 40%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}
.populaires__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.etoiles {
  display: flex;
  font-size: 12px;
  color: #0065FC;
  padding: 9px 5px 5px 16px;
}

.grise {
  color: #F2F2F2;
}

.noire {
  margin-right: 30px;
  font-size: 20px;
}

#section-hebergements #afficher-plus {
  margin: 40px 0px 0px 32px;
  font-size: 17px;
  font-weight: bold;
}

#section-hebergements #afficher-plus:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
}


/*Section 3 : Activités dans le secteur*/
#section-activites {
  margin: 35px 50px 0px 50px;
}

#activites__cards {
  display: flex;
  justify-content: space-between;
  height: 440px;
  margin-top: 20px;
}

.activites__cards {
  width: 22.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activites__card a {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1) ;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.activites__cards h3 {
  height: 56px;
  margin: 0px;
  padding: 20px 0px 20px 20px;
}

.port, .calanques {
  height: 100%;
}

.activites__card img{
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.fort {
  height: 53%;
}

.fort img {
  height: 179px;
}

.ile {
  height: 37%;
}

.ile img {
  height: 109px;
}

.notre-dame {
  height: 44%;
  }
  
.notre-dame img {
  height: 138px;
  }
  
.longchamp {
  height: 47%;
  }
  
.longchamp img {
  height: 153px;
  }
  
.activites__card:hover {
  transform: scale(1.02);
  transition-duration: 200ms;
}

  
/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  padding: 50px;
  margin-top: 60px;
}

.footer__colonne {
  width: 30%;
}

footer ul {
    list-style: none;
    padding: 0px;
    margin: 0px;    
}

footer h4 {
  font-size: 17px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

footer li {
  margin: 0px 0px 10px 0px;
  font-size: 15px;
}
