body {
  margin: 0px;
}
  
  
/*header*/
  
header {
  display: block;  
  align-items: center;
  margin : 0px;
}

header li {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 3px #F2F2F2 solid;
  text-align: center;
}

.box__booki {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  width: 100%;
}
  
nav {
  width: 100%;
  }
  
nav ul {
  margin: 20px 0px 20px 0px;
  width: 100%;
  }
  
header a {
  width: 100%;
  padding: 0px;
  }
  
header li:hover a{
  border-top: 4px #0065FC none;
}

header li:hover {
  border-bottom: 3px #0065FC solid;
}
  
  
/*section 1 : recherche*/
  
#recherche {
  margin: 0px 20px 0px 20px;
}

.recherche {
  margin-top: 20px;
  width: 300px;
}

.recherche__button {
  display: none;
}

.recherche__button-loupe {
  display: contents;
  height: 50px;
  width: 50px;    
}

.fa-magnifying-glass {
  display:contents;
  background-color: #0065FC;
  color: white;
  font-size: 16px;
  border-radius: 16px;
  padding: 17px;
}

.filtre:hover .filtre__icone {
  width: 55px;
  height: 55px;
}

.filtres {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filtres > p {
  align-items: center;
  width: 100%;
  padding: 35px 0px 0px 0px;
}

.filtre {
  margin-top: 15px;
}

.filtre p {
  font-size: 17px;
}

 
  
/*Section 2 : Hébergements*/

#section-hebergements {
  flex-wrap: wrap-reverse;
  padding: 25px 0px 25px 0px;
}

#section-hebergements h2 {
  font-size: 17px;
  font-weight: bold;
}

.hebergements__titre {
  margin: 20px 20px 0px 30px;
}

#hebergements {
  background-color: white;
  border-radius: 0px;
  width: 100%;
}

.hebergements__cards {
  gap: 12px;
}

.hebergements__card {
  width: 90%;
  height: 200px;
}
  
#populaires {
  border-radius: 0px;
  width: 100%;
}

.populaires__titre {
  margin: 10px 0px 10px 20px;
}

.fa-star.noire {
  width: 15px;
}

#populaires__cards {
  gap: 12px;
}

.populaires__card {
  width: 90%;
}

  h2 {
  font-size :16px;
}

.etoiles {
  padding: 5px 5px 5px 15px;
}


/*Section 3 : Activités dans le secteur*/

#section-activites {
  margin: 30px 0px 0px 0px;
}

#activites__cards {
  flex-direction: column;
  align-items: center;
  gap: 25px;
  height: 100%;
}

#section-activites h1 {
  margin: 0px 0px 30px 20px;
}

  
.activites__cards {
  width: 90%;
  flex-wrap: wrap;
  gap: 25px;
}

.activites__card {
  display: flex;
  flex-direction: column;
  height: 190px;
  }

.activites__cards img {
  height: 134px;
}

.fort {
  height: 100%;
}

.fort img {
  height: 134px;
}

.ile {
  height: 100%;
}

.ile img {
  height: 134px;
}

.notre-dame {
  height: 100%;
}
  
.notre-dame img {
  height: 134px;
}

.longchamp {
  height: 100%;
}

.longchamp img {
  height: 134px;
}

  
/*Footer*/

footer {
  flex-direction: column;
  gap: 30px;
  padding: 40px 25px 25px 25px;
  margin-top: 50px;
}

.footer__colonne {
  width: 100%;
}